* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #FBFBFB;
  color: #000;
  font-weight: 400;
}

h2 {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
}

.product-info p {
  font-size: 15px;
  line-height: 15px;
}

.price {
  font-size: 12px;
  line-height: 16px;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0px #00000040;
  max-width: 284px;
}
.cart-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
img.product-image {
  width: 40px;
  height: 40px;
}
.product-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 15px;
  width: 123px;
}

.cart .cart-item:nth-of-type(2) .product-info {
  width: 116px;
}

button {
  background-color: #0A003C;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 14px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
}

button:hover {
  background-color: #4924FF;
}
